
$nav_fontsize: 2.5rem;
$nav_title_fontsize: 3rem;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
.header{
    height: 10vh;
    background-color: chocolate;
    
} 
.nav{
    display: flex;
    height: 100%;
    align-items: center;
    .title_container{
        width: 60%;
        background-color: blue;
    }
    
    .nav_title{
        font-size: $nav_title_fontsize;
    }
    .links{
        width: 40%;
        background-color: yellowgreen;
        font-size: $nav_fontsize;
        list-style-type: none;
        display: flex; 
        justify-content: space-evenly;
        
       
    }
}